footer.footer
   .container 
      .footer_top.footer_text 
         p Made with love by 
            a(href="https://www.linkedin.com/in/alexander-kuzmenko-83033677/?trk=public-profile-join-page" target="_blank") Alex Kuzmenko
         p Ispired by 
            a(href="https://prometheus.org.ua/" target="_blank") PROMETHEUS
      .footer_bottom.footer_social 
         a(href="https://twitter.com" target="_blank")
            .twitter.social_icon 
         a(href="https://facebook.com" target="_blank")
            .facebook.social_icon 
         a(href="https://plus.google.com/" target="_blank")
            .google_plus.social_icon






