@font-face {
   font-family: "LatoLite";
   src: url("../fonts/Lato/Lato-Lite.eot");
   src: url("../fonts/Lato/Lato-Lite.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Lato/Lato-Lite.woff") format("woff"), url("../fonts/Lato/Lato-Lite.woff2") format("woff2");
   font-style: normal;
   font-weight: 300;
}

@font-face {
   font-family: "LatoRegular";
   src: url("../fonts/Lato/Lato-Regular.eot");
   src: url("../fonts/Lato/Lato-Regular.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Lato/Lato-Regular.woff") format("woff"), url("../fonts/Lato/Lato-Regular.woff2") format("woff2");
   font-style: normal;
   font-weight: 400;
}

@font-face {
   font-family: "OpenSansLight";
   src: url("../fonts/OpenSans/OpenSans-Light.eot");
   src: url("../fonts/OpenSans/OpenSans-Light.eot?#iefix") format("embedded-opentype"),
      url("../fonts/OpenSans/OpenSans-Light.woff") format("woff"),
      url("../fonts/OpenSans/OpenSans-Light.woff2") format("woff2");
   font-style: normal;
   font-weight: 300;
}

@font-face {
   font-family: "OpenSans";
   src: url("../fonts/OpenSans/OpenSans.eot");
   src: url("../fonts/OpenSans/OpenSans.eot?#iefix") format("embedded-opentype"),
      url("../fonts/OpenSans/OpenSans.woff") format("woff"), url("../fonts/OpenSans/OpenSans.woff2") format("woff2");
   font-style: normal;
   font-weight: 400;
}

@font-face {
   font-family: "OpenSansSemiBold";
   src: url("../fonts/OpenSans/OpenSans-Semibold.eot");
   src: url("../fonts/OpenSans/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"),
      url("../fonts/OpenSans/OpenSans-Semibold.woff") format("woff"),
      url("../fonts/OpenSans/OpenSans-Semibold.woff2") format("woff2");
   font-style: normal;
   font-weight: 600;
}

@font-face {
   font-family: "OpenSansBold";
   src: url("../fonts/OpenSans/OpenSans-Bold.eot");
   src: url("../fonts/OpenSans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
      url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff"),
      url("../fonts/OpenSans/OpenSans-Bold.woff2") format("woff2");
   font-style: normal;
   font-weight: 700;
}
