/* ----------- HEDEAR STYLE -----------*/
header {
   position: relative;
   width: 100%;
   z-index: 9999;
   transition: all 1s ease-in-out;
   display: flex;
   justify-content: center;

   .container {
      position: relative;
      max-width: unset;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      max-width: $maxWidthContainer;
      padding: 0 10px;
      padding-top: calc(130px + 3.5vmin);
      z-index: 999;
   }
   .header_bg {
      position: absolute;
      top: 0;
      left: 0%;
      width: 100%;
      height: 100%;
      background: url("../images/Header_bg.png");
      background-repeat: no-repeat;
      background-size: cover;
   }
}

.main-header {
   position: fixed;
   top: 0;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-end;
   flex-wrap: wrap;
   width: 100%;
   max-width: $maxWidth;
   height: calc(60px + 3.5vmin);
   z-index: 9999;
   padding: 0 10px;
   transition: all 0.4s linear;

   .main-header-logo {
      width: 37%;
      cursor: pointer;
      font-family: LatoLite;
      font-size: calc(35px + 2vmin);
      text-transform: uppercase;

      a {
         display: block;
         color: $white;
      }
   }
   .main-header-nav {
      width: 63%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .header-nav-item {
         &:not(:last-child) {
            margin-right: 5px;
         }

         a {
            position: relative;
            display: block;
            padding: 10px 10px;
            font-family: OpenSansLight;
            font-size: calc(15px + 1vmin);
            color: $white;
            text-align: right;

            &::after {
               content: " ";
               position: absolute;
               bottom: 0;
               left: 20%;
               width: 80%;
               height: 2px;
               background-color: transparent;
               transition: all 0.6s linear;
            }
            &:hover::after {
               background-color: $white;
            }
         }
      }
   }

   .hamburger-nav--btn {
      display: none;
   }

   .hamburger-nav-list {
      display: none;
   }
}

.header_description {
   flex: 1 1 100%;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   justify-self: center;
   flex-wrap: wrap;
   h1,
   h3 {
      flex: 1 1 60%;
      text-align: right;
      line-height: 1.2;
      @media screen and (max-width: 480px) {
         text-align: center;
      }
   }
   .title_description_top {
      font: {
         size: calc(16px + 4.5vmin);
         family: OpenSansBold;
      }
      text-transform: uppercase;
      color: $white;
      margin-bottom: calc(16px + 5.1vmin);
   }
   .title_description_bottom {
      flex: 1 1 60%;
      font: {
         size: calc(12px + 2.2vmin);
         family: OpenSansSemiBold;
      }
      text-transform: uppercase;
      color: $white;
      margin-bottom: calc(16px + 2.6vmin);
   }
}

.header_authorization {
   flex: 1 1 auto;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   .form__authorization {
      width: 30%;
      display: flex;
      flex-direction: row;
      justify-content: right;
      align-items: stretch;
      flex-wrap: wrap;
      margin-right: calc(35px + 4vmin);
      .form_field {
         margin-bottom: calc(16px + 2.5vmin);
         width: 100%;
         font: {
            size: calc(12px + 0.5vmin);
            family: OpenSans;
         }
         text-transform: capitalize;
         padding: calc(12px + 1vmin) calc(12px + 1vmin);
         border-radius: 5px;
         border-color: transparent;
      }
      .form_btn {
         text-transform: uppercase;
         border-color: $white;
         background-color: #ba271f;
         color: $white;
         cursor: pointer;
      }
   }
}

.main-header--height {
   height: calc(60px + 2.4vmin);
   padding-bottom: 10px;
   padding-top: 10px;
}

.header--color {
   background-color: rgba(0, 0, 0, 0.6);
}
