//----------- Section Three------------------
section.section_three#blog
   .container
      .wrapper
         .section_title.partners_title
            .section_title_top партнери - освітні заклади
         .block_partners.swiper-container
            //- .swiper-wrapper.image_swiper_wrapper
            //-    mixin partners_cards (imageName, name)
            //-       article.partners_cards
            //-          div.partners_logo
            //-             img(src="images/section_three/#{imageName}.jpg" alt="partners image")
            //-          .partners_name #{name}
            //-    +partners_cards("cambridge", "Cambridge")
            //-    +partners_cards("harvard", "Harvard")
            //-    +partners_cards("mit", "MIT")
            //-    +partners_cards("ucla", "UCLA")
            //- .swiper-button-next
            //- .swiper-button-prev


