//----------- Section Three------------------
section.section_three#blog
   .container
      .wrapper
         .section_title.partners_title
            .section_title_top партнери - освітні заклади
         .block_partners.swiper-container
            .swiper-wrapper
               article.partners_cards.swiper-slide
                  div.partners_logo
                     img(src="images/section_three/Cambridge.jpg" alt="partners image")
                  .partners_name Cambridge
               article.partners_cards.swiper-slide
                  div.partners_logo
                     img(src="images/section_three/Harvard.jpg" alt="partners image")
                  .partners_name Harvard
               article.partners_cards.swiper-slide
                  div.partners_logo
                     img(src="images/section_three/MIT.jpg" alt="partners image")
                  .partners_name MIT
               article.partners_cards.swiper-slide
                  div.partners_logo
                     img(src="images/section_three/UCLA.jpg" alt="partners image")
                  .partners_name UCLA 
               article.partners_cards.swiper-slide
                  div.partners_logo
                     img(src="images/section_three/Cambridge.jpg" alt="partners image")
                  .partners_name Cambridge
               article.partners_cards.swiper-slide
                  div.partners_logo
                     img(src="images/section_three/Harvard.jpg" alt="partners image")
                  .partners_name Harvard
               article.partners_cards.swiper-slide
                  div.partners_logo
                     img(src="images/section_three/MIT.jpg" alt="partners image")
                  .partners_name MIT
               article.partners_cards.swiper-slide
                  div.partners_logo
                     img(src="images/section_three/UCLA.jpg" alt="partners image")
                  .partners_name UCLA 
            .swiper-button-next
            .swiper-button-prev
         .swiper-navigation         
            i.fas.fa-chevron-circle-right#swiperPrev
            i.fas.fa-chevron-circle-left#swiperNext


