//----------- Section Four------------------
section.section_four
   .section_four_bg
      .section_four_bg_left
      .section_four_bg_right
   .container
      .block_certificate
         .block_certificate_title сертифікат від гарварду 
         .block_certificate_description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
         .block_certificate_btn 
            a(href="#")  отримати!



